:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;
}

.login-card {
    height: 300px;
    width: 360px;
    position: absolute;
    top: 30%;
    left: 20%;
}

mat-form-field {
    width: 100%;
}